<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Product-Details</title>
</head>
<body>
<div class="row-mb-2" layout:fragment="breadcrumb">
    <div class="col-sm-6">
        <h1 class="m-0">Detail Product</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
        </ol>
    </div>
</div>
<div class="row" layout:fragment="content">
    <!-- left column -->
    <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- general form elements -->
        <div class="card card-orange">
            <div class="card-header">
                <h3 class="card-title">Edit Customer Address</h3>
            </div>
            <!-- card header -->
            <form th:action="@{~/product/detail}" method="post">
                <!-- id di hidden -->

                <!-- form start -->
                <div class="card-body">
                    <div class="form-group">
                        <label>Id</label>
                        <input type="text" class="form-control" id="id" name="id" placeholder="Enter Id" th:value="${product.id}">
                    </div>
                    <div class="form-group">
                        <label>Details</label>
                        <input type="text" class="form-control" id="details" name="details" placeholder="Enter Details" th:value="${product.details}">
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name" th:value="${product.name}">
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="text" class="form-control" id="price" name="price" placeholder="Enter Price" th:value="${product.price}">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" class="form-control" id="description" name="description" placeholder="Enter description" th:value="${product.description}">
                    </div>
                </div>
                <!-- card body -->
                <div class="card-footer">
                    <a th:href="@{~/product}" type="submit" class="btn btn-outline-success">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>