<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Product Supplier-Add</title>
</head>
<body>
<div class="row mb-2" layout:fragment="breadcrumb">
    <div class="col-sm-6">
        <h1 class="m-0">Add Product Supplier</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
        </ol>
    </div>
</div>
<div class="row" layout:fragment="content">
    <!-- LEFT COLUMN   -->
    <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- GENERAN FORM ELEMENTS   -->
        <div class="card card-orange">
            <div class="card-header">
                <h3 class="card-title">New Product Supplier</h3>
            </div>
            <!-- CARD - HEADER -->
            <form th:action="@{~/productsupplier/save}" method="post">
                <!-- FORM START   -->
                <input type="hidden" name="id" id="id">
                <div class="card-body">
                    <div class="form-group">
                        <label for="valueSupplierToDate">Value Sup</label>
                        <input type="text" class="form-control" name="valueSupplierToDate" id="valueSupplierToDate" placeholder="Enter Value Sup">
                    </div>
                    <div class="form-group">
                        <label for="totalQtySupplier">Total Quantity</label>
                        <input type="text" class="form-control" name="totalQtySupplier" id="totalQtySupplier" placeholder="Enter Address">
                    </div>
                    <div class="form-group">
                        <label for="fitsItemSupDate">Frst Item Sup Date</label>
                        <input type="text" class="form-control" name="fitsItemSupDate" id="fitsItemSupDate" placeholder="Enter Frst Item Sup Date">
                    </div>
                    <div class="form-group">
                        <label for="lastItemSupDate">Last Item Sup Date</label>
                        <input type="text" class="form-control" name="lastItemSupDate" id="lastItemSupDate" placeholder="Enter Last Item Sup Date">
                    </div>
                    <div class="form-group">
                        <label for="deliveryLeadTime">Delivery LeadTime</label>
                        <input type="text" class="form-control" name="deliveryLeadTime" id="deliveryLeadTime" placeholder="Enter Delivery LeadTime">
                    </div>
                    <div class="form-group">
                        <label for="standartPrice">Standar Price</label>
                        <input type="text" class="form-control" name="standartPrice" id="standartPrice" placeholder="Enter Standar Price">
                    </div>
                    <div class="form-group">
                        <label for="percentDiscount">Percent Discount</label>
                        <input type="text" class="form-control" name="percentDiscount" id="percentDiscount" placeholder="Enter Percent Discount">
                    </div>
                    <div class="form-group">
                        <label for="maxOrderQty">Max Quantity</label>
                        <input type="text" class="form-control" name="maxOrderQty" id="maxOrderQty" placeholder="Enter Max Quantity">
                    </div>
                    <div class="form-group">
                        <label for="minOrderQty">Min Quantity</label>
                        <input type="text" class="form-control" name="minOrderQty" id="minOrderQty" placeholder="Enter Min Quantity">
                    </div>
                    <div class="form-group">
                        <label for="itemSupDetails">Item Sup Details</label>
                        <input type="text" class="form-control" name="itemSupDetails" id="itemSupDetails" placeholder="Enter Item Sup Details">
                    </div>
                </div>
                <!-- CARD BODY  -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-outline-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>