<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Basket Items-Detail</title>
</head>
<body>
<div class="row-mb-2" layout:fragment="breadcrumb">
    <div class="col-sm-6">
        <h1 class="m-0">Detail Basket Items</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
        </ol>
    </div>
</div>
<div class="row" layout:fragment="content">
    <!-- left column -->
    <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- general form elements -->
        <div class="card card-orange">
            <div class="card-header">
                <h3 class="card-title">Edit Basket Items</h3>
            </div>
            <!-- card header -->
            <form th:action="@{~/basketitem/detail}" method="post">
                <!-- id di hidden -->

                <!-- form start -->
                <div class="card-body">
                    <div class="form-group">
                        <label>Id</label>
                        <input type="text" class="form-control" id="id" name="id" placeholder="Enter id" th:value="${basketitem.id}">
                    </div>
                    <div class="form-group">
                        <label>Customer Id</label>
                        <input type="text" class="form-control" id="customerId" name="customerId" th:value="${basketitem.name}">
                    </div>
                    <div class="form-group">
                        <label>Basket Date Time</label>
                        <input type="text" class="form-control" id="basketDtmId" name="basketDtmId" th:value="${basketitem.dateTime}">
                    </div>
                    <div class="form-group">
                        <label>Quantity</label>
                        <input type="text" class="form-control" id="quantity" name="quantity" placeholder="Enter quantity" th:value="${basketitem.quantity}">
                    </div>
                    <div class="form-group">
                        <label>Cost</label>
                        <input type="text" class="form-control" id="cost" name="cost" placeholder="Enter cost" th:value="${basketitem.cost}">
                    </div>
                </div>
                <!-- card body -->
                <div class="card-footer">
                    <a th:href="@{~/basketitem}" type="submit" class="btn btn-outline-success">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>