<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Edit - Basket - Item</title>
</head>
<body>
<div class="row mb-2" layout:fragment="breadcrumb">
    <div class="col-sm-6">
        <h2 class="m-0">Edit Basket Item</h2>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Edit Basket Item</li>
        </ol>
    </div>
</div>
<div class="row" layout:fragment="content">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card card-blue">
            <div class="card-header">
                <h3 class="card-title">Edit Basket Item</h3>
            </div>
            <form th:action="@{~/basketItem/update}" method="post">
                <input type="hidden" name="id" th:value="${basketItem.id}">

                <div class="card-body">
                    <div class="form-group">
                        <label>Customer Name :</label><br>
                        <select class="form-control" name="customerId">
                            <option value="">Select one</option>
                            <option th:each="customer :${editCustomer}"
                                    th:value="${customer.id}"
                                    th:text="|${customer.name} - ${customer.email} - ${customer.phone}|"
                                    th:selected="${basketItem.customerId == customer.id}">
                            </option>
                        </select><br>
                    </div>

                    <div class="form-group">
                        <label>Product Name :</label><br>
                        <select class="form-control" name="productId">
                            <option value="">Select one</option>
                            <option th:each="product :${editProduct}"
                                    th:value="${product.id}"
                                    th:text="|${product.name}|"
                                    th:selected="${basketItem.productId == product.id}">
                            </option>
                        </select><br>
                    </div>

                    <div class="form-group">
                        <label>Basket Date Time :</label><br>
                        <input type="datetime-local" class="form-control" name="basketDateTime" th:value="${basketItem.basketDateTime}" placeholder="Enter Basket Date Time"><br>
                    </div>

                    <div class="form-group">
                        <label>Quantity :</label><br>
                        <input type="text" class="form-control" name="quantity" th:value="${basketItem.quantity}" placeholder="Enter Quantity"><br>
                    </div>

                    <div class="form-group">
                        <label>Cost :</label><br>
                        <input type="text" class="form-control" name="cost" th:value="${basketItem.cost}" placeholder="Enter Cost"><br>
                    </div>

                </div>
                <div class="card-footer">
                    <button class="btn btn-outline-dark" type="submit">Save</button>
                    <a class="btn btn-outline-dark" th:href="@{~/basketItem}">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>