<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Basket Items-Edit</title>
</head>
<body>
<div class="row-mb-2" layout:fragment="breadcrumb">
    <div class="col-sm-6">
        <h1 class="m-0">Edit Basket Items</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
        </ol>
    </div>
</div>
<div class="row" layout:fragment="content">
    <!-- left column -->
    <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- general form elements -->
        <div class="card card-orange">
            <div class="card-header">
                <h3 class="card-title">Edit Basket Items</h3>
            </div>
            <!-- card header -->
            <form th:action="@{~/basketitem/update}" method="post">
                <!-- id di hidden -->
                <input type="hidden" id="id" th:field="*{basketitem.id}">
                <!-- form start -->
                <div class="card-body">
                    <div class="form-group">
                        <label for="customerId">Customer Name</label>
                        <select id="customerId" name="customerId" class="form-control">
                            <option value="">Select One</option>
                            <option th:each="customer : ${dataCus}" th:value="${customer.id}" th:text="${customer.name}"
                                    th:selected="${basketitem.customerId == customer.id}">Select One</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="basketDtmId">Basket Date Time</label>
                        <select id="basketDtmId" name="basketDtmId" class="form-control">
                            <option value="">Select One</option>
                            <option th:each="shopbasket :${dataShop}" th:value="${shopbasket.id}" th:text="${shopbasket.dateTime}"
                                    th:selected="${basketitem.basketDtmId == shopbasket.id}">Select One</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input type="text" class="form-control" name="quantity" id="quantity" placeholder="Enter quantity" th:value="${basketitem.quantity}">
                    </div>
                    <div class="form-group">
                        <label for="cost">Cost</label>
                        <input type="text" class="form-control" name="cost" id="cost" placeholder="Enter Cost" th:value="${basketitem.cost}">
                    </div>
                </div>
                <!-- card body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-outline-success">Submit</button>
                    <a th:href="@{~/basketitem}" type="submit" class="btn btn-outline-success">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>