<!-- Main Sidebar Container -->
<aside xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar" class="main-sidebar sidebar-dark-blue elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img th:src="@{~/dist/img/penjualan.jpg}" alt="Penjualan Logo" class="brand-image img-bordered elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-bold">Point Of Sales</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img th:src="@{~/dist/img/sabilla.jpeg}" class="img-bordered elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a th:href="@{~/profile}" class="d-block font-weight-bold">Sabilla.M.Rayhan</a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" role="menu"
          data-accordion="false">
        <li class="nav-item menu-open">
        </li>
      </ul>
    </nav>
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
          data-accordion="false">
        <li class="nav-item menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-angle-double-left"></i>
            <p>
              Data Penjualan
              <i class="right fas fa-angle-double-down"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a th:href="@{~/customer}" class="nav-link">
                <i class="fas fa-male nav-icon"></i>
                <p>Customer</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{~/address}" class="nav-link">
                <i class="fas fa-address-book nav-icon"></i>
                <p>Address</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{~/customerAddress}" class="nav-link">
                <i class="fas fa-address-card nav-icon"></i>
                <p>Customer Address</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{~/product}" class="nav-link">
                <i class="fas fa-circle nav-icon"></i>
                <p>Product</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{~/supplier}" class="nav-link">
                <i class="fas fa-circle nav-icon"></i>
                <p>Supplier</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{~/productSupplier}" class="nav-link">
                <i class="fas fa-circle nav-icon"></i>
                <p>Product Supplier</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{~/refPayment}" class="nav-link">
                <i class="fas fa-circle nav-icon"></i>
                <p>Ref Payment</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{~/refAddress}" class="nav-link">
                <i class="fas fa-circle nav-icon"></i>
                <p>Ref Address</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{~/inventory}" class="nav-link">
                <i class="fas fa-circle nav-icon"></i>
                <p>Inventory Location</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{~/supplierLocation}" class="nav-link">
                <i class="fas fa-circle nav-icon"></i>
                <p>Supplier Location</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{~/refProduct}" class="nav-link">
                <i class="fas fa-circle nav-icon"></i>
                <p>Ref Product</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{~/shopping}" class="nav-link">
                <i class="fas fa-circle nav-icon"></i>
                <p>Shopping Basket</p>
              </a>
            </li>
            <li class="nav-item">
              <a th:href="@{~/basketItem}" class="nav-link">
                <i class="fas fa-circle nav-icon"></i>
                <p>Basket Item</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
