<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Products-Suppliers-Titel</title>
</head>
<body>
<div class="row mb-2" layout:fragment="breadcrumb">
    <div class="col-sm-6">
        <h1 class="m-0 font-weight-bolder">Products</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active font-weight-light">Products Suppliers</li>
        </ol>
    </div>
</div>

<div class="row" layout:fragment="content">
    <!-- left column -->
    <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- general form element -->
        <div class="card card-pink">
            <div class="card-header">
                <h3 class="card-title font-weight-light">Detail Data Products Suppliers</h3>
            </div>

            <!-- /.card header -->
            <form th:action="@{/products-suppliers/save}" method="post">
                <!-- card form start -->
                <input type="hidden" name="id" th:value="${dataProductsSuppliers.id}">
                <div class="card-body">
                    <div class="form-group">
                        <label>Product Name</label>
                        <input type="text" class="form-control" name="productName" id="productName" th:value="${dataProductsSuppliers.products.productName}">
                    </div>

                    <div class="form-group">
                        <label>Suppliers</label>
                        <input type="text" class="form-control" name="suppliersName" id="suppliersName" th:value="${dataProductsSuppliers.suppliers.supplierCode}">
                    </div>

                    <div class="form-group">
                        <label>Supplied To Date</label>
                        <input type="date" class="form-control" name="suppliedToDate" id="suppliedToDate" th:value="${dataProductsSuppliers.suppliedToDate}">
                    </div>

                    <div class="form-group">
                        <label>Total Qty Supplied To Date</label>
                        <input type="text" class="form-control" name="totalQtySupToDate" id="totalQtySupToDate" th:value="${dataProductsSuppliers.totalQtySupToDate}">
                    </div>

                    <div class="form-group">
                        <label>First Item Supplied Date</label>
                        <input type="text" class="form-control" name="firstItemSupDate" id="firstItemSupDate" th:value="${dataProductsSuppliers.firstItemSupDate}">
                    </div>

                    <div class="form-group">
                        <label>Last Item Supplied Date</label>
                        <input type="text" class="form-control" name="lastItemSupDate" id="lastItemSupDate" th:value="${dataProductsSuppliers.lastItemSupDate}">
                    </div>

                    <div class="form-group">
                        <label>Delivery Lead Time</label>
                        <input type="text" class="form-control" name="deliveryLeadTime" id="deliveryLeadTime" th:value="${dataProductsSuppliers.deliveryLeadTime}">
                    </div>

                    <div class="form-group">
                        <label>Standard Price</label>
                        <input type="text" class="form-control" name="standardPrice" id="standardPrice" th:value="${dataProductsSuppliers.standardPrice}">
                    </div>

                    <div class="form-group">
                        <label>Percent Discount</label>
                        <input type="text" class="form-control" name="percentDiscount" id="percentDiscount" th:value="${dataProductsSuppliers.percentDiscount}">
                    </div>

                    <div class="form-group">
                        <label>Min Order Qty</label>
                        <input type="text" class="form-control" name="minOrderQty" id="minOrderQty" th:value="${dataProductsSuppliers.minOrderQty}">
                    </div>

                    <div class="form-group">
                        <label>Max Order Qty</label>
                        <input type="text" class="form-control" name="maxOrderQty" id="maxOrderQty" th:value="${dataProductsSuppliers.maxOrderQty}">
                    </div>

                    <div class="form-group">
                        <label>Item Suppliers Details</label>
                        <input type="text" class="form-control" name="itemSuppliersDetails" id="itemSuppliersDetails" th:value="${dataProductsSuppliers.itemSuppliersDetails}">
                    </div>
                    <!-- card form end -->

                    <!-- card footer -->
                    <div class="card-footer">
                        <a class="btn btn-outline-danger" th:href="@{~/products-suppliers}">back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>