<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Customer Edit</title>
</head>
<body>
<h1>Customer Address Edit</h1>
<div class="row mb-2" layout:fragment="breadcrumb">
    <div class="col-sm-6">
        <h1 class="m-0 font-weight-bolder">Customer Address</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active font-weight-light">Customer Address</li>
        </ol>
    </div>
</div>
<div class="row" layout:fragment="content">
    <!-- left column -->
    <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- general form elements -->
        <div class="card card-pink">
            <div class="card-header">
                <h3 class="card-title font-weight-light">Edit Data Customer</h3>
            </div>
            <!-- card header -->
            <form th:action="@{~/customer-address/update}" method="post">
                <!-- card form start -->
                <input type="hidden" name="id" th:value="${customerAddressList.id}">
                <div class="card-body">
                    <div class="form-group">
                        <label>Customer Name</label>
                        <select class="form-control" name="customerId" id="customerId">
                            <option value="">select one</option>
                            <option th:each="customer: ${dataCustomer}"
                                    th:value="${customer.id}"
                                    th:text="|${customer.customerName} - ${customer.customerEmail} - ${customer.customerPhone}|"
                                    th:selected="${customerAddressList.customerId == customer.id}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="addressId">Address</label>
                        <select class="form-control" name="addressId" id="addressId">
                            <option value="">select one</option>
                            <option th:each="address: ${dataAddress}"
                                    th:value="${address.id}"
                                    th:text="|${address.noHome} - ${address.onStreet} - ${address.city} - ${address.province}|"
                                    th:selected="${customerAddressList.addressId == address.id}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="addressTypeId">Address Type</label>
                        <select class="form-control" name="addressTypeId" id="addressTypeId">
                            <option value="">select one</option>
                            <option th:each="addressType: ${dataAddressType}"
                                    th:value="${addressType.id}"
                                    th:text="|${addressType.addressCode} - ${addressType.billing}|"
                                    th:selected="${customerAddressList.addressTypeId == addressType.id}">
                            </option>
                        </select></div>

                    <div class="form-group">
                        <label for="supLocId">Date From</label>
                        <select class="form-control" name="supLocId" id="supLocId">
                            <option value="">select one</option>
                            <option th:each="suploc: ${dataSuplierLocs}"
                                    th:value="${suploc.id}"
                                    th:text="${suploc.dateFrom}"
                                    th:selected="${customerAddressList.supLocId == suploc.id}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Date To</label>
                        <input class="form-control" type="date" name="dateTo" id="dateTo" th:value="${customerAddressList.dateTo}">
                    </div>
                    <!-- card fomr end -->

                    <!-- card footer -->
                    <div class="card-footer">
                        <button class="btn btn-outline-danger" type="submit">submit</button> &nbsp;
                        <a class="btn btn-outline-danger" th:href="@{~/customer-address}">back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>