<!DOCTYPE html>
<html lang="en"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Shopping Basket-Add</title>
</head>
<body>
<div class="row mb-2" layout:fragment="breadcrumb">
    <div class="col-sm-6">
        <h1 class="m-0">Add Shopping Basket</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
        </ol>
    </div>
</div>
<div class="row" layout:fragment="content">
    <!-- LEFT COLUMN   -->
    <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- GENERAN FORM ELEMENTS   -->
        <div class="card card-orange">
            <div class="card-header">
                <h3 class="card-title">New Shopping Basket</h3>
            </div>
            <!-- CARD - HEADER -->
            <form th:action="@{~/shopbasket/save}" method="post">
                <!-- FORM START   -->
                <input type="hidden" name="id" id="id">
                <div class="card-body">
                    <div class="form-group">
                        <label for="customerId">Name Customer</label>
                        <select id="customerId" name="customerId" class="form-control">
                            <option value="">Select One</option>
                            <option th:each="data :${dataCustomer}" th:value="${data.id}" th:text="${data.name}">Select One</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dateTime">date time</label>
                        <input type="datetime-local" class="form-control" name="dateTime" id="dateTime" placeholder="Enter dateTime">
                    </div>
                    <div class="form-group">
                        <label for="totalCost">total cost</label>
                        <input type="text" class="form-control" name="totalCost" id="totalCost" placeholder="Enter totalCost">
                    </div>
                    <div class="form-group">
                        <label for="details">Details</label>
                        <input type="text" class="form-control" name="details" id="details" placeholder="Enter Details">
                    </div>
                </div>
                <!-- CARD BODY  -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-outline-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>