<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Product - Supplier - Index</title>
</head>
<body>
<div class="row mb-2" layout:fragment="breadcrumb">
    <div class="col-sm-6">
        <h1 class="m-0">PRODUCT SUPPLIER</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a th:href="@{~/home}">Home</a></li>
            <li class="breadcrumb-item active">Product Supplier</li>
        </ol>
    </div>
</div>
<div class="row" layout:fragment="content">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header bg-gradient-blue">
                <h3 class="card-title">Product Supplier</h3>
                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 200px;">
                        <input type="text" name="table_search" class="form-control float-lg-left btn-outline-dark" placeholder="Search">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-dark">
                                <i class="fas fa-search"></i>
                            </button>
                            <a th:href="@{~/productSupplier/add}" id="btn-add" class="btn btn-outline-dark">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="table-data" class="table">
                    <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Supplier Code</th>
                        <th>Value Supplied</th>
                        <th>Total Quantity Supplier</th>
                        <th>First Item Supplier</th>
                        <th>Last Item Supplied</th>
                        <th>DeliveryLead</th>
                        <th>Standard Price</th>
                        <th>Percentage Discount</th>
                        <th>Minimum Order Quantity</th>
                        <th>Maximum Order Quantity</th>
                        <th>Other Item Supplier Detail</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="productSupp :${dataProductSupp}">
                        <td th:text="${productSupp.product.name}"></td>
                        <td th:text="${productSupp.supplier.code}"></td>
                        <td th:text="${productSupp.valueSupplied}"></td>
                        <td th:text="${productSupp.totalQuantitySupplied}"></td>
                        <td th:text="${productSupp.firstItemSupplied}"></td>
                        <td th:text="${productSupp.lastItemSupplied}"></td>
                        <td th:text="${productSupp.deliveryLead}"></td>
                        <td th:text="${productSupp.standardPrice}"></td>
                        <td th:text="${productSupp.percentageDiscount}"></td>
                        <td th:text="${productSupp.minimumOrderQuantity}"></td>
                        <td th:text="${productSupp.maximumOrderQuantity}"></td>
                        <td th:text="${productSupp.otherItemSupplierDetail}"></td>
                        <td>
                            <a th:href="@{~/productSupplier/edit/{id}(id=${productSupp.id})}"
                               class="btn btn-xs btn-outline-success">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a th:href="@{~/productSupplier/delete/{id}(id=${productSupp.id})}"
                               class="btn btn-xs btn-outline-danger">
                                <i class="fas fa-trash"></i>
                            </a>
                            <a th:href="@{~/productSupplier/detail/{id}(id=${productSupp.id})}"
                               class="btn btn-xs btn-outline-info">
                                <i class="fas fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>