<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>RefProduct-Detail</title>
</head>
<body>
<div class="row-mb-2" layout:fragment="breadcrumb">
    <div class="col-sm-6">
        <h1 class="m-0">Detail RefProduct</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
        </ol>
    </div>
</div>
<div class="row" layout:fragment="content">
    <!-- left column -->
    <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- general form elements -->
        <div class="card card-orange">
            <div class="card-header">
                <h3 class="card-title">Edit RefProduct</h3>
            </div>
            <!-- card header -->
            <form th:action="@{~/refproduct/detail}" method="post">
                <!-- id di hidden -->

                <!-- form start -->
                <div class="card-body">
                    <div class="form-group">
                        <label>Id</label>
                        <input type="text" class="form-control" id="id" name="id" placeholder="Enter Code" th:value="${detail.id}">
                    </div>
                    <div class="form-group">
                        <label>Code</label>
                        <input type="text" class="form-control" id="code" name="code" placeholder="Enter customerName" th:value="${detail.code}">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" class="form-control" id="desc" name="desc" placeholder="Enter houseNumber" th:value="${detail.desc}">
                    </div>
                </div>
                <!-- card body -->
                <div class="card-footer">
                    <a th:href="@{~/refproduct}" type="submit" class="btn btn-outline-success">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>