<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Inventory Locations</title>
</head>
<body>
<!-- header -->
<div class="row mb-2" layout:fragment="breadcrumb">
    <div class="col-sm-6">
        <h1 class="m-0 font-weight-bolder">Inventory Locations</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active font-weight-light">Inventory Locations</li>
        </ol>
    </div>
</div>
<!-- header end -->

<!-- card -->
<div class="row" layout:fragment="content">
    <!-- left column -->
    <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- general form elements -->
        <!-- /.card-header -->
        <div class="card card-pink">
            <div class="card-header">
                <h3 class="card-title font-weight-light">Add Data Inventory Locations</h3>
            </div>
            <form th:action="@{~/inventory-locations/save}" method="post">
                <!-- card form start -->
                <div class="card-body">
                    <div class="form-group">
                        <label for="productId">Products</label>
                        <select class="form-control" name="productId" id="productId">
                            <option value="">select one</option>
                            <option th:each="products: ${dataProduct}"
                                    th:value="${products.id}"
                                    th:text="${products.productName}">
                            </option>
                        </select></div>

                    <div class="form-group">
                        <label for="addressId">Address</label>
                        <select class="form-control" name="addressId" id="addressId">
                            <option value="">select one</option>
                            <option th:each="address: ${dataAddress}"
                                    th:value="${address.id}"
                                    th:text="${address.onStreet}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Qty In Stock</label>
                        <input type="text" class="form-control" name="qtyInStock" id="qtyInStock" placeholder="enter qty in stock">
                    </div>

                    <div class="form-group">
                        <label>Reorder Level</label>
                        <input type="text" class="form-control" name="reorderLevel" id="reorderLevel" placeholder="enter reorder level">
                    </div>

                    <div class="form-group">
                        <label>Reorder Qty</label>
                        <input type="text" class="form-control" name="reorderQty" id="reorderQty" placeholder="enter reorder qty">
                    </div>

                    <div class="form-group">
                        <label>Total Avg Month Usage</label>
                        <input type="text" class="form-control" name="totalAvgMonthUsg" id="totalAvgMonthUsg" placeholder="enter total avg Month usage">
                    </div>

                    <div class="form-group">
                        <label>Inventory Details</label>
                        <input type="text" class="form-control" name="inventoryDetails" id="inventoryDetails" placeholder="enter inventory details">
                    </div>
                    <!-- card form end -->

                    <!-- card footer -->
                    <div class="card-footer">
                        <button class="btn btn-outline-danger" type="submit">submit</button> &nbsp;
                        <a class="btn btn-outline-danger" th:href="@{~/inventory-locations}">back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>