<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>CusAddress-edit</title>
</head>
<body>
<div class="row-mb-2" layout:fragment="breadcrumb">
    <div class="col-sm-6">
        <h1 class="m-0">Edit Customer Address</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
        </ol>
    </div>
</div>
<div class="row" layout:fragment="content">
    <!-- left column -->
    <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- general form elements -->
        <div class="card card-orange">
            <div class="card-header">
                <h3 class="card-title">Edit Customer Address</h3>
            </div>
            <!-- card header -->
            <form th:action="@{~/cusaddress/update}" method="post">
                <!-- id di hidden -->
                <input type="hidden" id="id" th:field="*{cusaddress.id}">
                <!-- form start -->
                <div class="card-body">
                    <div class="form-group">
                        <label for="customerId">Customer</label>
                        <select id="customerId" name="customerId" class="form-control">
                            <option value="">Select One</option>
                            <option th:each="customer :${dataCustomer}" th:value="${customer.id}" th:text="${customer.name}"
                                    th:selected="${cusaddress.customerId == customer.id}">Select One</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="addressId">Address</label>
                        <select id="addressId" name="addressId" class="form-control">
                            <option value="">Select One</option>
                            <option th:each="address :${dataAddress}" th:value="${address.id}" th:text="${address.houseNumber}"
                                    th:selected="${cusaddress.addressId == address.id}">Select One</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="addressTypeCode">Ref Address Code</label>
                        <select id="addressTypeCode" name="addressTypeCode" class="form-control">
                            <option value="">Select One</option>
                            <option th:each="ref :${datarefAaddrs}" th:value="${ref.id}" th:text="${ref.code}"
                                    th:selected="${cusaddress.addressTypeCode == ref.id}">Select One</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Date From</label>
                        <input type="date" class="form-control" id="dateFrom" name="dateFrom" placeholder="Enter Code" th:value="${cusaddress.dateFrom}">
                    </div>
                    <div class="form-group">
                        <label>Date To</label>
                        <input type="date" class="form-control" id="dateTo" name="dateTo" placeholder="Enter Name " th:value="${cusaddress.dateTo}">
                    </div>
                </div>
                <!-- card body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-outline-success">Submit</button>
                    <a th:href="@{~/cusaddress}" type="submit" class="btn btn-outline-success">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>