<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Address Index</title>
</head>
<body>
<div class="row mb-2" layout:fragment="breadcrumb">
    <div class="col-sm-6">
        <h1 class="m-0">ADDRESS</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a th:href="@{~/home}">Home</a></li>
            <li class="breadcrumb-item active">Address</li>
        </ol>
    </div>
</div>
<div class="row" layout:fragment="content">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header bg-gradient-blue">
                <h3 class="card-title">Address</h3>
                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 200px;">
                        <input type="text" name="table_search" class="form-control float-lg-left btn-outline-dark" placeholder="Search">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-dark">
                                <i class="fas fa-search"></i>
                            </button>
                            <a th:href="@{~/address/add}" id="btn-add" class="btn btn-outline-dark">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="table-data" class="table">
                    <thead>
                    <tr>
                        <th>No Home</th>
                        <th>On Street</th>
                        <th>Village</th>
                        <th>Subdistrict</th>
                        <th>City</th>
                        <th>Zip Post Code</th>
                        <th>State Province Country</th>
                        <th>Country</th>
                        <th>Other Address Detail</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="address :${dataAddress}">
                        <td th:text="${address.noHome}"></td>
                        <td th:text="${address.onStreet}"></td>
                        <td th:text="${address.village}"></td>
                        <td th:text="${address.subdistrict}"></td>
                        <td th:text="${address.city}"></td>
                        <td th:text="${address.zipPostCode}"></td>
                        <td th:text="${address.stateProvinceCountry}"></td>
                        <td th:text="${address.country}"></td>
                        <td th:text="${address.otherAddressDetail}"></td>
                        <td>
                            <a th:href="@{~/address/edit/{id}(id=${address.id})}"
                               class="btn btn-xs btn-outline-success">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a th:href="@{~/address/delete/{id}(id=${address.id})}"
                               class="btn btn-xs btn-outline-danger">
                                <i class="fas fa-trash"></i>
                            </a>
                            <a th:href="@{~/address/detail/{id}(id=${address.id})}"
                               class="btn btn-xs btn-outline-info">
                                <i class="fas fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>