<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Supplier Location-Detail</title>
</head>
<body>
<div class="row-mb-2" layout:fragment="breadcrumb">
    <div class="col-sm-6">
        <h1 class="m-0">Detail Supplier Location</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
        </ol>
    </div>
</div>
<div class="row" layout:fragment="content">
    <!-- left column -->
    <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- general form elements -->
        <div class="card card-orange">
            <div class="card-header">
                <h3 class="card-title">Edit Supplier Location</h3>
            </div>
            <!-- card header -->
            <form th:action="@{~/suploc/detail}" method="post">
                <!-- id di hidden -->

                <!-- form start -->
                <div class="card-body">
                    <div class="form-group">
                        <label for="id">Id</label>
                        <input type="text" class="form-control" name="id" id="id" placeholder="Enter id" th:value="${detail.id}">
                    </div>
                    <div class="form-group">
                        <label for="supplierId">Supplier Code</label>
                        <input type="text" class="form-control" name="supplierId" id="supplierId" th:value="${detail.supplierCode}">
                    </div>
                    <div class="form-group">
                        <label for="addressid">Address Details</label>
                        <input type="text" class="form-control" name="addressid" id="addressid" th:value="${detail.addressDetails}">
                    </div>
                    <div class="form-group">
                        <label for="cusaddressId">Cus Address Date From</label>
                        <input type="text" class="form-control" name="cusaddressId" id="cusaddressId" th:value="${detail.dateFrom}">
                    </div>
                    <div class="form-group">
                        <label for="dateTo">Date To</label>
                        <input type="text" class="form-control" name="dateTo" id="dateTo" placeholder="Enter Date To" th:value="${detail.dateTo}">
                    </div>
                </div>
                <!-- card body -->
                <div class="card-footer">
                    <a th:href="@{~/suploc}" type="submit" class="btn btn-outline-success">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>