<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
  <meta charset="UTF-8">
  <title>Ref Address Index</title>
</head>
<body>
<div class="row mb-2" layout:fragment="breadcrumb">
  <div class="col-sm-6">
    <h1 class="m-0">REF ADDRESS</h1>
  </div>
  <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
      <li class="breadcrumb-item"><a th:href="@{~/home}">Home</a></li>
      <li class="breadcrumb-item active">Ref Address</li>
    </ol>
  </div>
</div>
<div class="row" layout:fragment="content">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header bg-gradient-blue">
        <h3 class="card-title">Ref Address</h3>
        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 200px;">
            <input type="text" name="table_search" class="form-control float-lg-left btn-outline-dark" placeholder="Search">
            <div class="input-group-append">
              <button type="submit" class="btn btn-outline-dark">
                <i class="fas fa-search"></i>
              </button>
              <a th:href="@{~/refAddress/add}" id="btn-add" class="btn btn-outline-dark">
                <i class="fas fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table id="table-data" class="table">
          <thead>
          <tr>
            <th>Code</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="refAddress :${dataRefAddress}">
            <td th:text="${refAddress.code}"></td>
            <td th:text="${refAddress.desc}"></td>
            <td>
              <a th:href="@{~/refAddress/edit/{id}(id=${refAddress.id})}"
                 class="btn btn-xs btn-outline-success">
                <i class="fas fa-edit"></i>
              </a>
              <a th:href="@{~/refAddress/delete/{id}(id=${refAddress.id})}"
                 class="btn btn-xs btn-outline-danger">
                <i class="fas fa-trash"></i>
              </a>
              <a th:href="@{~/refAddress/detail/{id}(id=${refAddress.id})}"
                 class="btn btn-xs btn-outline-info">
                <i class="fas fa-eye"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>