<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">
<head>
  <meta charset="UTF-8">
  <title>Customer - Add</title>
</head>
<body>
<div class="row mb-2" layout:fragment="breadcrumb">
  <div class="col-sm-6">
    <h1 class="m-0">Customer Add</h1>
  </div>
  <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active">Customer Add</li>
    </ol>
  </div>
</div>
<div class="row" layout:fragment="content">
  <!-- left column -->
  <div class="col-lg-12 col-md-12 col-sm-12">
    <!-- general form elements -->
    <div class="card card-primary">
      <!-- menampilkan warna fakultas-->
      <div class="card-header bg-orange">
        <h3 class="card-title">New Castomer</h3>
      </div>
      <!-- /.card-header -->
      <h1>Customer Add</h1>
      <form th:action="@{~/customer/save}" method="post">
      <!-- form start -->
      <div class="card-body">
        <div class="form-group">
            <label for="paymentMethodCode">Code Customer</label>
            <input type="text" class="form-control" name="paymentMethodCode" id="paymentMethodCode" placeholder="Enter paymentMethodCode">
        </div>
        <div class="form-group">
            <label for="customerName">Customer Name</label>
            <input type="text" class="form-control" name="customerName" id="customerName" placeholder="Enter customerName">
        </div>
        <div class="form-group">
            <label for="customerPhone">Customer Phone</label>
            <input type="text" class="form-control" name="customerPhone" id="customerPhone" placeholder="Enter customerPhone">
        </div>
        <div class="form-group">
            <label for="customerEmail">Customer Email</label>
            <input type="text" class="form-control" name="customerEmail" id="customerEmail" placeholder="Enter customerEmail">
        </div>
        <div class="form-group">
            <label for="dateBecameCustomer">DateBecameCustomer</label>
            <input type="text" class="form-control" name="dateBecameCustomer" id="dateBecameCustomer" placeholder="Enter dateBecameCustomer">
        </div>
        <div class="form-group">
            <label for="paymentDetails">PaymentDetails</label>
            <input type="text" class="form-control" name="paymentDetails" id="paymentDetails" placeholder="Enter paymentDetails">
        </div>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-outline-dark">Submit</button>
        <a class="btn btn-outline-dark" th:href="@{~/customer}">Back</a>
      </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>