<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Customer</title>
</head>
<body>
<form th:action="@{~/customer/update}" method="post">
    <input type="hidden" name="id" th:value="${customer.id}">

    <label>Name :</label><br>
    <input type="text" name="name" th:value="${customer.name}"><br>

    <label>Phone :</label><br>
    <input type="text" name="phone" th:value="${customer.phone}"><br>

    <label>Email :</label><br>
    <input type="text" name="email" th:value="${customer.email}"><br>

    <label>Date Became :</label><br>
    <input type="date" name="dateBecame" th:value="${customer.dateBecame}"><br>

    <label>Payment Detail :</label><br>
    <input type="text" name="paymentDetail" th:value="${customer.paymentDetail}"><br>

    <label>Other Customer Detail :</label><br>
    <input type="text" name="otherCustomerDetail" th:value="${customer.otherCustomerDetail}"><br>

    <button type="submit">Save</button>
    <a th:href="@{~/customer}">Back</a>
</form>

</body>
</html>