<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">
<head>
    <meta charset="UTF-8">
    <title>Customer - Index</title>
</head>
<body>
<div class="row mb-2" layout:fragment="breadcrumb">
    <div class="col-sm-6">
        <h1 class="m-0">Index Customer</h1>
    </div>

    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Customer</li>
        </ol>
    </div>
</div>

<div class="row" layout:fragment="content">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <!-- menampilkan warna-->
            <div class="card-header bg-orange">
                <h3 class="card-title">Customer</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 200px;">
                        <input type="text" name="table-search" class="form-control float-right btn-outline-dark" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-dark">
                                <i class="fas fa-search"></i>
                            </button>
                            <a th:href="@{~/customer/add}" id="btn-add" class="btn btn-outline-dark">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- membuat table -->
            <div class="card-body">
                <table id="table-data" class="table">
                    <!-- table header -->
                    <h1>Customer Index</h1>
                    <a th:href="@{~/home}">Home</a> &nbsp;
                    <a th:href="@{~/customer/add}">Add New</a>
                    <thead>
                    <tr>
                        <th>Code</th>
                        <th>Customer Name</th>
                        <th>Customer Phone</th>
                        <th>Customer Email</th>
                        <th>DateBecameCustomer</th>
                        <th>PaymentDetails</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- data yang akan di looping -->

                    <tr th:each="customer :${customerList}">
                        <td class="font-weight-bold" th:text="${customer.paymentMethodCode}"></td>
                        <td class="font-weight-bold" th:text="${customer.customerName}"></td>
                        <td class="font-weight-bold" th:text="${customer.customerPhone}"></td>
                        <td class="font-weight-bold" th:text="${customer.customerEmail}"></td>
                        <td class="font-weight-bold" th:text="${customer.dateBecameCustomer}"></td>
                        <td class="font-weight-bold" th:text="${customer.paymentDetails}"></td>

                    <td>
                        <a th:href="@{~/customer/edit/{id}(id=${customer.id})}" class="btn btn-xs btn-warning btn-edit btn-outline-dark">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a th:href="@{~/customer/delete/{id}(id=${customer.id})}" class="btn btn-xs btn-danger btn-delete btn-outline-dark">
                            <i class="fas fa-trash"></i>
                        </a>
                        <a th:href="@{~/customer/detail/{id}(id=${customer.id})}" class="btn btn-xs btn-success btn-detail btn-outline-dark">
                            <i class="fas fa-eye"></i>
                        </a>
                    </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>