<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Detail - Customer - Address</title>
</head>
<body>
<div class="row mb-2" layout:fragment="breadcrumb">
    <div class="col-sm-6">
        <h1 class="m-0 font-weight-bolder">Detail Customer Address</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active font-weight-light">Detail Customer Address</li>
        </ol>
    </div>
</div>

<div class="row" layout:fragment="content">
    <!-- left column -->
    <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- general form element -->
        <div class="card card-blue">
            <div class="card-header">
                <h3 class="card-title font-weight-light">Detail Customer Address</h3>
            </div>

            <!-- /.card header -->
            <form th:action="@{/customerAddress/update}" method="post">
                <!-- card form start -->
                <div class="card-body">
                    <div class="form-group">
                        <label>Ref Address Code :</label><br>
                        <input type="text" class="form-control" name="refAddress.code" th:value="${detailCustomerAdd.refAddress.code}">
                    </div>
                    <div class="form-group">
                        <label>Customer Name :</label>
                        <input type="text" class="form-control" name="customerName" th:value="${detailCustomerAdd.customer.name}">
                    </div>

                    <div class="form-group">
                        <label>Address :</label>
                        <input type="text" class="form-control" name="addressName" th:value="${detailCustomerAdd.address.noHome}">
                    </div>

                    <div class="form-group">
                        <label>Date From :</label>
                        <input type="date" class="form-control" name="dateFrom" th:value="${detailCustomerAdd.dateFrom}">
                    </div>

                    <div class="form-group">
                        <label>Date To :</label>
                        <input type="date" class="form-control" name="dateTo" th:value="${detailCustomerAdd.dateTo}">
                    </div>

                    <div class="card-footer">
                        <a class="btn btn-outline-dark" th:href="@{~/customerAddress}">back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>